  <div id="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>Chicago Closet and Garage</h1>
          <h2 class="subtitle">We're working hard to improve our website and we'll ready to launch after</h2>
          <h2 class="subtitle">Visit us on <a href="https://www.facebook.com/chicagocg/">Facebook</a></h2>

          <div id="countdown"></div>
          <!-- <form class="form-inline signup" role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
            </div>
            <button type="submit" class="btn btn-theme">Get notified!</button>
          </form> -->   
          
        </div>
        
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <p class="copyright">Copyright &copy; 2015 - <a href="http://www.jcdenterprisesinc.com">JCD Enterprises, Inc.</a></p>
                        <!-- 
                            All links in the footer should remain intact. 
                            Licenseing information is available at: http://bootstraptaste.com/license/
                            You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=WeBuild
                        -->
        </div>
      </div>    
    </div>
  </div>
   
  <script src="app/assets/javascripts/jquery.countdown.min.js"></script>
  <script type="text/javascript">
  $('#countdown').countdown('2015/11/30', function(event) {
    $(this).html(event.strftime('%w weeks %d days <br /> %H:%M:%S'));
  });
</script>

  </body>
</html>
