<!DOCTYPE html>
<html>
<head>
  <title>CCNG</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all'%>
  <%= javascript_include_tag 'application', params[:controller] %>

  <script src="http://keith-wood.name/js/jquery.plugin.js"></script>
  <script src="http://keith-wood.name/js/jquery.countdown.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
